<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      Mis mascotas
    </ion-title>
  </ion-toolbar>


</ion-header>

<ion-content [fullscreen]="true" class="fondo-custom" >
    <ion-list [inset]="true"class="top-custom">
      <ion-item-sliding>
        <ion-item [button]="true">
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Cloy</ion-label>
        </ion-item>
        <ion-item-options slot="end">
          <ion-item-option color="warning">
            <ion-icon slot="icon-only" name="pin"></ion-icon>
          </ion-item-option>
          <ion-item-option color="tertiary">
            <ion-icon slot="icon-only" name="share"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" expandable="true">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item [button]="true">
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Pelusa</ion-label>
        </ion-item>
        <ion-item-options slot="end">
          <ion-item-option color="warning">
            <ion-icon slot="icon-only" name="pin"></ion-icon>
          </ion-item-option>
          <ion-item-option color="tertiary">
            <ion-icon slot="icon-only" name="share"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" expandable="true">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

</ion-content>

<ion-footer>
  <nav class="nav-custom">
    <ion-button expand="full" (click)="linkHome()">Home</ion-button>
    <ion-button expand="full" (click)="linkMascostas()">Mis Mascostas</ion-button>
    <ion-button expand="full" (click)="linkPedirHora()">Agendar hora</ion-button>
    <ion-button expand="full" (click)="cerrarSesion()">Cerrar sesión</ion-button>
  </nav>
</ion-footer>