.nav-custom{
    display: flex;
    justify-content: center;
  }

  .fondo-custom{
    --background: url('../../images/petlifereg.jpg') 0 0/ 100%;
    height: 100%;
}
ion-content {
  --keyboard-offset: 0 !important;
  
}
.button-custom{
  width: 80%;
  margin: auto;


}